// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// 4. Include any optional Bootstrap components as you like
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";

// Overrides here
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
$font-family-sans-serif: 'Outfit', sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap";

// Additional custom code here
.bg-sale{
    color: white;
    background-color: $red-400;
}

.bg-new{
    color: white;
    background-color: $cyan-300;
}

.bg-red600{
    background-color: $red-600;
}

.bg-playstation{
    background-color: $blue-600;
}

.bg-pc{
    background-color: $indigo-600;
}

.text-justify{
    text-align: justify;
}

@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

@media only screen and (max-width:768px) {
    header{
        position: sticky;
        top: 0;
    }

    #container2 .row{
        filter: brightness(70%);
    }

}

@media only screen and (max-width:1400px){
    #mainGameImages{
        filter: brightness(70%);
    }
}

@for $var from 1 through 10{
    .overlay-#{$var}{
        z-index: $var;
    }

}

label input[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

label input[type=radio]:checked + i.bi-playstation {
    color: blue;
}

label input[type=radio]:checked + i.bi-xbox {
    color: green;
}

label input[type=radio]:checked + i.bi-nintendo-switch {
    color: red;
}

label input[type=radio]:checked + i.bi-pc {
    color: purple;
}